<div class="well">
  <h4>Leave a Comment:</h4>
  <%= form_for @entry.comments.build, html: {role: "form"}, remote: true do |f| %>
    <div class="form-group">
      <%= hidden_field_tag :entry_id, @entry.id %>
      <%= f.text_area :content, rows: 5, placeholder: "Please click Enter key for comment(or Shift + Enter key for new line!)", class: 'form_control' %>
    </div>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
<script type="text/javascript">
  $('#comment_content').keypress(function(e) {
    if (e.keyCode == 13 && !e.shiftKey) {
        e.preventDefault();
        $("form").submit();
    }
});
</script>