<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
    <%= f.text_field :title, placeholder:"Display title", class: 'form-control input-lg' %>
</div>

<div class="form-group">
    <%= f.text_area :body, placeholder:"Body", row: 20, class: 'form-control' %>
</div>








